.button
    text-decoration none
    font-size 15px
    color #212121
    background transparent
    padding 4px 12px
    border-radius 2px
    border 1px solid #dedede
    cursor pointer
    transition transform .3s

    &:hover
        transform translateY(-2px)
