.button
    text-decoration none
    font-size 15px
    color #212121
    background transparent
    padding 4px 12px
    border-radius 2px
    border 1px solid #dedede
    outline none
    cursor pointer
    transition transform .3s

    &:hover
        transform translateY(-2px)

.clipboard
    text-decoration none
    border none
    border-radius 2px
    outline none
    font-size 12px
    color #38393a
    background #ffffff
    padding 2px 6px
    position absolute
    right 16px
    top 12px
    cursor pointer
    z-index 1
    opacity .4
    transition opacity .3s

    &:hover
        opacity 1

.icon
    &:before
    &:after
        content ''
        position absolute

    &-tag
        color #38393a
        opacity .6
        display inline-block
        position relative
        margin-right 8px
        top -3px
        width 7px
        height 7px
        border-radius 1px 1px 1px 0
        border-left solid 1px currentColor
        border-top solid 1px currentColor
        background-color currentColor

        &:before
            left 1px
            top 1px
            width 9px
            height 10px
            border-radius 1px
            border-left solid 1px currentColor
            border-right solid 1px currentColor
            border-bottom solid 1px currentColor
            background-color currentColor
            transform rotate(-45deg)

        &:after
            left 3px
            top 3px
            width 2px
            height 2px
            border-radius 50%
            color white
            background-color currentColor
