.button
    text-decoration none
    font-size 14px
    color #fff
    background #38393a
    padding 4px 12px
    border-radius 2px
    border 1px solid #38393a
    outline none
    cursor pointer
    transition transform .3s

    &:hover
        transform translateY(-2px)

.icon
    position relative
    display inline-block

    &:before
    &:after
        content ''
        position absolute

    &-tag
        color #38393a
        opacity .8
        margin-right 8px
        top -3px
        width 7px
        height 7px
        border-radius 1px 1px 1px 0
        border-left solid 1px currentColor
        border-top solid 1px currentColor
        background-color currentColor

        &:before
            left 1px
            top 1px
            width 9px
            height 10px
            border-radius 1px
            border-left solid 1px currentColor
            border-right solid 1px currentColor
            border-bottom solid 1px currentColor
            background-color currentColor
            transform rotate(-45deg)

        &:after
            left 3px
            top 3px
            width 2px
            height 2px
            border-radius 50%
            color white
            background-color currentColor

    &-arrow
        &:before
            content ''
            position absolute
            left 50%
            top 50%
            margin-top -25%
            margin-left -25%
            width 50%
            height 50%
            border-top solid 1px currentColor
            border-right solid 1px currentColor
            transition transform .3s

        &-up
            &:before
                transform rotate(-45deg)

        &-down
            &:before
                margin-top -16px
                transform rotate(135deg)

        &-left
            &:before
                transform rotate(-135deg)

        &-right
            &:before
                transform rotate(45deg)
