<div class="control-inner">
    <label class="control-label">
        {{ param.name }}
    </label>

    <div class="control-select" ng-class="{'control-dropdown': !!param.values}">
        <div class="control-select-current">{{ param.value }}</div>
        <div class="control-dropdown-options">
            <div class="control-dropdown-options-item"
                 ng-repeat="value in param.values"
                 ng-click="setValue(value)">
                {{ value.name }}
            </div>
        </div>
    </div>
</div>
