.control
    font-size 13px

    &-label
        display block
        font-size 15px
        text-transform uppercase
        margin-bottom 4px

    &-radio
        &-item
            cursor pointer
            margin 2px 0

            &:first-child
                margin-top 0

            &:last-child
                margin-bottom 0
