.control
    display block
    font-size 13px
    margin 12px 0

    &:first-child
        margin-top 0

    &:last-child
        margin-bottom 0

    &-label
        display block
        font-size 15px
        text-transform uppercase
        margin-bottom 4px

    &-select
        &-current
            font-size 15px

    &-dropdown
        position relative

        &:after
            content ""
            position absolute
            width 0
            height 0
            top 50%
            right 12px
            margin-top -2px
            border-left 4px solid transparent
            border-right 4px solid transparent
            border-top 4px solid currentColor
            transition border .3s

        &-options
            position absolute
            width 100%
            height auto
            top 100%
            margin-top 8px
            left 0
            background #fff
            border-radius 3px
            overflow hidden
            border 1px solid transparent
            max-height 0
            transition max-height .3s, border-color .3s

            .control-dropdown:hover &
                max-height 100px
                border-color #ececec

            &-item
                font-size 13px
                cursor pointer
                padding 4px 8px
                transition background-color .3s

                &:hover
                    background-color #ececec

                &:first-child
                    margin-top 0

                &:last-child
                    margin-bottom 0
