@import '~jodit/build/jodit.min.css'

.item
    position relative
    display flex
    flex-direction column
    padding 20px
    box-sizing border-box
    border-radius 3px 3px 0 0

    &:after
        content ""
        position absolute
        bottom 0
        left 0
        height 3px
        width 100%
        transition background .3s

    &-close
    &-open
        cursor pointer
        right 20px
        top 20px
        position absolute
        z-index 1

        .icon
            width 32px
            height 32px

    &-close
        color #E91E63

    &-open
        color #38393a

    &-header
        &-info
            h2
            h3
                margin 0
                margin-bottom 8px
                font-size 18px
            p
                margin 0
                font-size 14px
                color #868686

    &-body
        margin 12px 0
        position relative

        pre
        textarea
            font 12px/normal monospace
            border-radius 3px
            padding 12px
            background #38393a
            color #fff
            width 100%
            border none
            outline none
            margin 0
            box-sizing border-box

            .item-body:hover &
                box-shadow 0 0 1px 1px rgba(0,0,0,.15)

        pre
            max-height 100px
            overflow-y auto

            &::-webkit-scrollbar-track
                background-color #f0f0f0

            &::-webkit-scrollbar
                width 6px

            &::-webkit-scrollbar-thumb
                background-color #888

        textarea
            min-height 100px
            resize none


        &-clipboard
            text-decoration none
            border none
            border-radius 2px
            outline none
            font-size 12px
            color #38393a
            background #ffffff
            padding 2px 6px
            position absolute
            right 16px
            top 12px
            cursor pointer
            z-index 1
            opacity .4
            transition opacity .3s, transform .3s

            .item-body:hover &
                transform scale(1.05)
                opacity .7

            &:hover
                transform scale(1.05)
                opacity 1

    &-preview
        display flex
        flex-direction column
        position relative
        min-height 110px
        max-height 110px
        height 600px
        margin 12px -20px 12px -20px
        background #dedede
        transition max-height .3s, background .3s
        overflow hidden

        &.item-preview-active
            background url('data:image/png;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4AJkFkb2JlAGTAAAAAAQMAFQQDBgoNAAABpgAAAccAAAIDAAACMP/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8IAEQgAFAAUAwERAAIRAQMRAf/EAH8AAAMBAQAAAAAAAAAAAAAAAAIDBAEIAQEAAAAAAAAAAAAAAAAAAAAAEAACAwEAAAAAAAAAAAAAAAAAATARMRARAQAAAAAAAAAAAAAAAAAAADASAQAAAAAAAAAAAAAAAAAAADATAAEEAwEAAAAAAAAAAAAAAAEAEDAx8BGxYf/aAAwDAQACEQMRAAAB7kHhgCzCgnBP/9oACAEBAAEFAhYUjC3x6f/aAAgBAgABBQKH/9oACAEDAAEFAof/2gAIAQICBj8CH//aAAgBAwIGPwIf/9oACAEBAQY/Ah//2gAIAQEDAT8hVTeSJJaFL2a5v//aAAgBAgMBPyGH/9oACAEDAwE/IYf/2gAMAwEAAhEDEQAAEBBJBB//2gAIAQEDAT8QXV1sRKOD6CgsQDcXG//aAAgBAgMBPxCH/9oACAEDAwE/EIf/2Q==')
            max-height 600px

        &-button
            top 40px
            right 50%
            position absolute
            width 40px
            margin-right -20px
            transition all .3s

            & .icon
                color #fff

            .item-preview-active &
                margin-right 0
                top 20px
                right 20px

        &-iframe
            width 100%
            height 100%

        &-icon
            width 88px
            height 88px
            position absolute
            bottom -16px
            right -16px

            & svg
                fill #fff

    &-footer
        display flex
        align-items center
        justify-content space-between
        margin-top auto

        &-date
            font-size 13px
            color #868686
