@import '~jodit/build/jodit.min.css'

.item
    position relative
    display flex
    flex-direction column
    justify-content space-between
    padding 20px
    box-sizing border-box
    border-radius 3px 3px 0 0

    &:after
        content ""
        position absolute
        bottom 0
        left 0
        height 3px
        width 100%
        transition background .3s

    &-close
    &-open
        cursor pointer
        right 20px
        top 20px
        position absolute
        z-index 1

        .icon
            width 32px
            height 32px

    &-close
        color #E91E63

    &-open
        color #38393a

    &-header
        &-info
            h2
            h3
                margin 0
                margin-bottom 8px
                font-size 18px
            p
                margin 0
                font-size 15px
                color #868686

    &-body
        height 100%
        margin 12px 0
        position relative

        pre
        textarea
            font 12px/normal monospace
            border-radius 3px
            padding 12px
            background #38393a
            color #fff
            width 100%
            border none
            outline none
            margin 0
            box-sizing border-box

            &:hover
                ~.clipboard
                    opacity .8

        pre
            max-height 100px
            overflow-y auto

            &::-webkit-scrollbar-track
                background-color #f0f0f0

            &::-webkit-scrollbar
                width 6px

            &::-webkit-scrollbar-thumb
                background-color #888

        textarea
            min-height 100px
            resize none


        &-clipboard
            text-decoration none
            border none
            border-radius 2px
            outline none
            font-size 12px
            color #38393a
            background #ffffff
            padding 2px 6px
            position absolute
            right 16px
            top 12px
            cursor pointer
            z-index 1
            opacity .4
            transition opacity .3s

            &:hover
                opacity 1

    &-footer
        display flex
        align-items center
        justify-content space-between

        &-date
            font-size 13px
            color #868686
