.tags
    list-style none
    margin 0
    padding 0

    &-item
        display inline-block
        margin-right 4px
        padding 2px 4px
        border-radius 3px
        border 1px solid #dedede
        font-size 11px
        background #38393a
        color #fff
        opacity .8
        transition opacity .3s

        &:hover
            opacity 1

        &:last-child
            margin-right 0
