<div class="list card">
    <div class="list-header card-header">
        <h2>Список</h2>
        <div class="list-search mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" for="projects_search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input ng-model="search" class="mdl-textfield__input" type="text" id="projects_search">
                <label class="mdl-textfield__label"></label>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="list-table mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th data-sort="id" ng-click="toggleSort($event)" class="sort asc">ID</th>
                    <th data-sort="title" ng-click="toggleSort($event)" class="sort">Название</th>
                    <th data-sort="price" ng-click="toggleSort($event)" class="sort">Цена</th>
                    <th data-sort="description" ng-click="toggleSort($event)" class="sort">Описание</th>
                    <th>Изображение</th>
                    <th><a class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" href="#/new"><i class="material-icons">add</i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filterItems | startFrom: startingItem() | limitTo: itemsPerPage | filter: search | orderBy:sortType:sortReverse">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td class="nowrap">{{ item.price.toLocaleString('ru-RU') }} р.</td>
                    <td>{{ item.description }}</td>
                    <td><img class="preview" ng-show="item.image" ng-src="{{ item.image }}"/></td>
                    <td>
                        <a class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" ng-href="#/edit/{{item.id}}"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="list-pagination">
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-disabled="firstPage()" ng-click="pageBack()"><i class="material-icons">keyboard_arrow_left</i></button>
        <span>{{currentPage+1}} из {{numberOfPages()}}</span>
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-disabled="lastPage()" ng-click="pageForward()"><i class="material-icons">keyboard_arrow_right</i></button>
    </div>
</div>