<div class="content">
    <div class="detail">
        <div class="item">
            <a class="item-close" href="/#"></a>

            <div class="item-header">
                <div class="item-header-info">
                    <h2><input ng-model="item.title" ng-if="false">{{ item.title }}</h2>
                    <p><input ng-model="item.caption" ng-if="false">{{ item.caption }}</p>
                </div>
                <div class="item-header-tags">
                    <span ng-repeat="tag in item.tags"></span>
                </div>
            </div>

            <div class="item-body"><editor ng-model="item.data"></editor></div>

            <div class="item-footer">
                <button class="item-footer-button" ng-if="false"
                        ng-click="save()">
                    Create
                </button>
                <button class="item-footer-button" ng-if="false"
                        ng-click="save()">
                    Edit
                </button>
                <button class="item-footer-button" ng-if="false"
                        ng-click="save()" ng-disabled="myForm.$invalid">
                    Update
                </button>
                <button class="item-footer-button" ng-if="false"
                        ng-click="save()">
                    Cancel
                </button>

                <tags class="item-header-tags" icon="true" ng-model="item.tags"></tags>
                <span class="item-footer-date">Last update: <b>{{ item.updated_at }}</b></span>
            </div>
        </div>
    </div>
</div>

<div class="sidebar">
    <div class="sidebar-header"></div>
    <div class="sidebar-body">
        <div class="sidebar-group sidebar-group-active sidebar-group-search">
            <div class="sidebar-group-header">Search</div>
            <div class="sidebar-group-body">

                <div class="search">
                    <label class="search-icon"></label>
                    <input class="search-input" ng-model="search" type="text" placeholder="whatever">
                </div>
            </div>
        </div>

        <div class="sidebar-group sidebar-group-active sidebar-group-apps">
            <div class="sidebar-group-header">Apps</div>
            <div class="sidebar-group-body">
                <tags class="sidebar-tags" icon="false" ng-model="products"></tags>
            </div>
        </div>

        <div class="sidebar-group sidebar-group-active sidebar-group-types">
            <div class="sidebar-group-header">Tags</div>
            <div class="sidebar-group-body">
                <tags class="sidebar-tags" icon="false" ng-model="types"></tags>
            </div>
        </div>

        <div class="sidebar-group sidebar-group-top">
            <div class="sidebar-group-header">Top</div>
            <div class="sidebar-group-body">

            </div>
        </div>
    </div>
    <div class="sidebar-footer">
        <a class="button" href="/#/new">Create New</a>
    </div>
</div>
